.search-section{
    height: 8rem;
}

.search-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.key-input {
    width: 51%;
    height: 3.2rem;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

.key-input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    color: #cfcfcf;
}

.error-one{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

}

.error-404{
    width: 15%;
    text-align: center;
    background-color: #fff;
    font-size: 60px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 18rem;
    /* left: 2rem; */
    color: #f29f05;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.error-two{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.error-text{
    text-align: center;
    width: 40%;
}

.error-heading{
    font-size: 24px;
}

.error-para{
    color: #787878;
}

.link-back{
    display: flex;
    width: 100%;
    height: 10rem;
    justify-content: center;
    align-items: flex-start;
}

.error-link{
    background-color: #f29f05;
    color: #fff;
    font-size: 20px;
    width: 3.6%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
}


@media screen  and (max-width:768px) and (min-width:320px){
    .error-404{
        width: 23%;
    }

    .error-text{
        width: 80%;
    }

    .error-link{
        width: 5%;
    }
}

/* 600px */
@media screen  and (max-width:600px) and (min-width:320px){
    .error-404{
        width: 26%;
    }

    .error-text{
        width: 80%;
    }

    .error-link{
        width: 8%;
    }
}

/* 500px */
@media screen  and (max-width:500px) and (min-width:320px){
    .error-404{
        width: 33%;
    }

    .error-text{
        width: 80%;
    }

    .error-link{
        width: 8%;
    }
}

/* 425px */
@media screen  and (max-width:425px) and (min-width:320px){
    .error-one{
        width: 93%;
    }

    .key-input{
        width: 80%;
    }

    .error-404{
        width: 42%;
    }

    .error-text{
        width: 80%;
    }

    .error-link{
        width: 10%;
    }
}

/* 375px */
@media screen  and (max-width:375px) and (min-width:320px){
    .error-one{
        width: 96%;
    }

    .error-img{
        width: 100%;
    }

    .key-input{
        width: 80%;
    }

    .error-404{
        width: 42%;
    }

    .error-text{
        width: 80%;
    }

    .error-link{
        width: 10%;
    }
}

/* 320px */
@media screen  and (max-width:320px) and (min-width:300px){
    .error-one{
        width: 96%;
    }

    .error-img{
        width: 100%;
    }

    .key-input{
        width: 80%;
    }

    .error-404{
        width: 42%;
    }

    .error-text{
        width: 100%;
    }

    .error-two{
        height: 23rem;
    }

    .error-link{
        width: 10%;
    }
}