.front-main {
    display: flex;
    height: 45rem;
    /* align-items: center; */
    justify-content: center;
}


.main-first {
    width: 34rem;
    height: 25rem;
}

.main-heading {
    display: block;
    width: 80%;
    font-size: 60px;
    color: #363636;
    font-weight: 700;
    line-height: 1.3;
}

.main-para {
    color: #787878;
}

.main-img {
    width: 34rem;
}

#dropdown {
    width: 20rem;
    height: 3.4rem;
    border: none;
    box-shadow: -1px 15px 26px -4px rgba(161, 151, 151, 0.15);
    font-size: 19px;
    color: #787878;
}

.options {
    color: #787878;
    font-size: 19px;
}

/* Main Location */
.main-second {
    position: relative;
}

.main-location {
    width: 14.5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #000;
    border-radius: 20px;
    position: absolute;
    right: 1rem;
    top: 6rem;
}


.locate-icon {
    width: 2.3rem;
    height: 1.8rem;
    border-radius: 50%;
    color: #fff;
    background-color: #f29f05;
    text-align: center;
    font-size: 20px;
    padding-top: 8px;
}

.main-locate-text {
    margin-left: 1rem;
}

.main-rest {
    font-weight: 700;
}

.main-city {
    font-size: 11px;
    color: #787878;
    margin-top: 0;
    margin-bottom: 0;
}

/* Main Willington */
.main-restaurant {
    position: absolute;
    right: 11rem;
    top: 24rem;
    width: 21rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}

.willmington-text {
    margin-left: 1rem;
}

.small-img {
    border-radius: 15px;
}

.star-icon {
    color: #f29f05;
    margin-right: 3px;
    margin-bottom: 1rem;
}

/* Work Section */
.work-section {
    height: 45rem;
}

.work-parent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 13rem;
}

.work-text {
    width: 40rem;
    height: 8rem;
    text-align: center;
}

.work-heading {
    font-size: 48px;
    font-weight: 700;
    color: #363636;
}

.work-para {
    font-size: 16px;
    color: #787878;
}

.work-cards {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.wk-card {
    width: 24rem;
    height: 25rem;
}

.crd-text{
    width: 94%;
}

.cardhm-heading {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}

.work-span {
    font-size: 36px;
    color: #CFCFCF;
    font-weight: 700;
}

.card-para {
    color: #787878;
}

/* Restaurants */
.rest-section {
    height: 50rem;
}

.rest-parent {
    display: flex;
    flex-wrap: wrap;
    height: 38rem;
    justify-content: center;
    gap: 1rem;
}

.rest-text {
    width: 37%;
}

.rest-heading {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.rest-para {
    color: #787878;
}

.rest-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cafe-details {
    width: 37%;
}

.cafe-img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 15px;
}

.cafes {
    display: flex;
}

.cafe-text {
    margin-left: 2rem;
}

.cafe-heading {
    margin-top: 0;
    margin-bottom: 2px;
}

.cafe-tags {
    width: auto;
    height: 2rem;
    border-radius: 5px;
    margin-left: .5rem;
    padding: .3rem .9rem;
    outline: 1px solid #f29f05;
    color: #f29f05;
    font-size: 14px;
    text-decoration: none;
    transition: .4s;
}

.cafe-tags:hover {
    background-color: #f29f05;
    color: #fff;
}

.cafe-para {
    color: #787878;
}

.cf-button {
    width: 9rem;
    height: 3.5rem;
    background-color: #fff;
    color: #fff;
    outline: 2px solid #f29f05;
    font-size: 16px;
}

/* Favourite Section */
.fav-section {
    display: flex;
    height: 41rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.fav-heading {
    font-size: 42px;
    color: #363636;
    font-weight: 700;
    line-height: 1.3;
}

.fav-text{
    width: 85%;
}

.fav-para {
    font-size: 16px;
    color: #787878;
}

.fav-img {
    width: 28rem;
    height: 29rem;
}

.fav-second {
    width: 34rem;
    height: 21rem;
}

/* Services Section */
.serv-section {
    display: flex;
    justify-content: space-around;
    height: 14rem;
}

.serv-text {
    width: 17rem;
    height: 5rem;
    color: #363636;
}

.serv-heading {
    font-size: 34px;
}

.serv-block {
    width: 16rem;
    height: 9.5rem;
    display: flex;
    justify-content: center;
    box-shadow: 0px -1px 30px 4px rgba(0, 0, 0, 0.05);
}

.block-text {
    width: 10rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.block-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f29f05;
}

.block-para {
    font-size: 16px;
    color: #787878;
}

/* Customer Section */
.cust-section {
    display: flex;
    height: 41rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cust-heading {
    font-size: 42px;
    color: #363636;
    font-weight: 700;
    line-height: 1.3;
}

.cust-para {
    font-size: 18px;
    color: #787878;
}

.cust-img {
    width: 34rem;
    height: 29rem;
}

.cust-first {
    width: 29rem;
    height: 21rem;
}

.thomas {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.tom-img {
    width: 4.3rem;
    height: 4.3rem;
}

.tom-heading {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 18px;
    color: #363636;
}


/* Partnership Section */
.part-section {
    height: 36rem;
    background-color: #363636;
    color: #fff;
}

.part-text {
    display: flex;
    height: 12rem;
    justify-content: center;
    align-items: center;
}

.part-heading {
    font-size: 48px;
    font-weight: 700;
}

.part-row {
    display: flex;
    justify-content: space-around;
}

.part-child {
    position: relative;
}

.part-child::before {
    content: "";
    position: absolute;
    width: 31rem;
    height: 22rem;
    border: 7px solid #f29f05;
    border-radius: 20px;
    top: -7%;
    left: 2%;
}

.part-Img {
    width: 31rem;
    height: 19.5rem;
    border-radius: 20px;
}

.child-text {
    position: absolute;
    bottom: 1.4rem;
    left: 2.5rem;
}

.child-heading {
    font-size: 34px;
    margin-bottom: 3px;
}

.part-button {
    width: 11rem;
    height: 3.4rem;
    font-size: 16px;
}

/* News Section */
.newshm-section {
    height: 61rem;
}

.news-head {
    width: 47rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-heading {
    width: 34rem;
    height: 8.5rem;
    font-size: 48px;
    font-weight: 700;
    color: #363636;
    line-height: 1.3;
}

.news-row {
    display: flex;
    justify-content: space-around;
}

.post-one {
    width: 34rem;
    height: 38rem;
    box-shadow: 0px -1px 30px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.post-Img1 {
    width: 31rem;
    height: 13rem;
    border-radius: 10px;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.post-text {
    width: 30rem;
    height: 17rem;
    margin-left: 2rem;
    border-bottom: 1px solid #CFCFCF;
}

.post-heading {
    font-size: 30px;
}

.post-para {
    color: #787878;
}

.post-link {
    text-decoration: none;
    color: #f29f05;
    font-weight: 700;
}

.post-credits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 21rem;
    height: 2.7rem;
    color: #CFCFCF;
    font-size: 20px;
}

.post-comn {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 34rem;
    height: 14rem;
}

.post-comn-img {
    border-radius: 20px;
}

.post-info {
    width: 19rem;
    height: 8.5rem;
}

.post-tags {
    width: auto;
    height: 2rem;
    border-radius: 10px;
    margin-right: .5rem;
    padding: .3rem .9rem;
    background-color: #f29f05;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.post-info-head {
    font-size: 18px;
    color: #363636;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-reach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17rem;
    height: 2.7rem;
    color: #CFCFCF;
    font-size: 20px;
}

.post-icons {
    margin-right: 5px;
}

@media screen and (max-width:1920px) and (min-width:1500px) {
    .wk-card{
        width: 30rem;
    }

    .serv-section{
        justify-content: space-evenly;
    }

    .part-row{
        justify-content: space-evenly;
    }

    .newshm-section{
        height: 70rem;
    }

    .news-head{
        width: 80rem;
    }

    .news-row{
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width:1024px) and (min-width:916px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
        align-items: center;
    }

    .main-first{
        width: 70%;
    }

    .main-heading {
        font-size: 50px;
        width: 100%;
    }

    .main-img {
        width: 40rem;
    }

    .work-section {
        height: 57rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 63rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 24rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 38rem;
    }

    .part-section {
        height: 73rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-child::before {
        width: 40rem;
        height: 25rem;
    }

    .part-Img {
        width: 40rem;
        height: 25rem;
    }

    .news-head {
        width: 57rem;
    }

    .newshm-section {
        height: 91rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:915px) and (min-width:768px) {
    .front-main {
        flex-direction: column;
        align-items: center;
        height: 63rem;
    }

    .main-first{
        width: 80%;
    }

    .main-heading {
        font-size: 50px;
        width: 100%;
    }

    .main-img {
        width: 40rem;
    }

    .work-section {
        height: 57rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 63rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 24rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 38rem;
    }

    .part-section {
        height: 73rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-child::before {
        width: 40rem;
        height: 25rem;
    }

    .part-Img {
        width: 40rem;
        height: 25rem;
    }

    .news-head {
        width: 54rem;
    }

    .newshm-section {
        height: 91rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

}



@media screen and (max-width:860px) and (min-width:768px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 40rem;
    }

    .work-section {
        height: 57rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 63rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 24rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 38rem;
    }

    .part-section {
        height: 73rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-child::before {
        width: 40rem;
        height: 25rem;
    }

    .part-Img {
        width: 40rem;
        height: 25rem;
    }

    .news-head {
        width: 45rem;
    }

    .news-heading {
        width: 25rem;
    }

    .newshm-section {
        height: 91rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width:800px) and (min-width:768px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 40rem;
    }

    .work-section {
        height: 57rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 63rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 24rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 38rem;
    }

    .part-section {
        height: 73rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-child::before {
        width: 40rem;
        height: 25rem;
    }

    .part-Img {
        width: 40rem;
        height: 25rem;
    }

    .news-head {
        width: 45rem;
    }

    .news-heading {
        width: 25rem;
    }

    .newshm-section {
        height: 91rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:768px) and (min-width:320px) {
    .front-main {
        flex-direction: column;
        align-items: center;
        height: 63rem;
    }

    .main-first{
        width: 85%;
    }

    .main-heading {
        font-size: 50px;
        width: 100%;
    }

    .main-img {
        width: 40rem;
    }

    .work-section {
        height: 87rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 52rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 24rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 38rem;
    }

    .part-section {
        height: 73rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-child::before {
        width: 40rem;
        height: 25rem;
    }

    .part-Img {
        width: 40rem;
        height: 25rem;
    }

    .news-head {
        width: 45rem;
    }

    .news-heading {
        width: 25rem;
    }

    .newshm-section {
        height: 105rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

}



@media screen and (max-width:720px) and (min-width:320px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 40rem;
    }

    .work-section {
        height: 87rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 63rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 51rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 38rem;
    }

    .part-section {
        height: 64rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-heading {
        font-size: 38px;
    }

    .part-child::before {
        width: 29rem;
        height: 18rem;
    }

    .part-Img {
        width: 29rem;
        height: 18rem;
    }

    .news-head {
        width: 30rem;
    }

    .news-heading {
        width: 20rem;
    }

    .newshm-section {
        height: 105rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width:640px) and (min-width:320px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 32rem;
    }

    .work-section {
        height: 87rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 63rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 51rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 30rem;
    }

    .part-section {
        height: 64rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-heading {
        font-size: 38px;
    }

    .part-child::before {
        width: 29rem;
        height: 18rem;
    }

    .part-Img {
        width: 29rem;
        height: 18rem;
    }

    .news-head {
        width: 30rem;
    }

    .news-heading {
        width: 20rem;
    }

    .newshm-section {
        height: 105rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

}



@media screen and (max-width:560px) and (min-width:320px) {
    .front-main {
        flex-direction: column;
        align-items: center;
        height: 63rem;
    }

    .main-first{
        width: 100%;
    }

    .main-heading {
        font-size: 50px;
        width: 100%;
    }

    .main-first {
        width: 28rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 29rem;
    }

    .work-section {
        height: 94rem;
    }

    .work-text {
        width: 25rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 63rem;
    }

    .rest-parent {
        height: 63rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 95%;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .fav-second {
        width: 26rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 51rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 30rem;
    }

    .cust-img {
        width: 28rem;
        height: 26;
    }

    .part-section {
        height: 62rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-heading {
        font-size: 38px;
    }

    .part-child::before {
        width: 27rem;
        height: 17rem;
    }

    .part-Img {
        width: 27rem;
        height: 17rem;
    }

    .news-head {
        width: 30rem;
    }

    .news-heading {
        width: 20rem;
    }

    .newshm-section {
        height: 105rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

    .post-one {
        width: 28rem;
    }

    .post-Img1 {
        width: 28rem;
        height: 12rem;
        margin: 0;
    }

    .post-text {
        width: 24rem;
        height: 21rem;
    }

    .post-comn {
        width: 30rem;
    }

    .post-info {
        width: 13rem;
    }

    .post-reach {
        width: 16rem;
    }
}




/* 490px */
@media screen and (max-width:490px) and (min-width:320px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-first {
        width: 28rem;
    }

    .main-restaurant {
        top: 18rem;
        right: 5rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 24rem;
    }

    .work-section {
        height: 94rem;
    }

    .work-text {
        width: 25rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 68rem;
    }

    .rest-parent {
        height: 68rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 98%;
    }

    .cafe-text {
        margin-left: 1rem;
    }

    .fav-section {
        flex-direction: column;
        height: 64rem;
    }

    .fav-second {
        width: 26rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 51rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 26rem;
    }

    .cust-img {
        width: 28rem;
        height: 26;
    }

    .part-section {
        height: 62rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-heading {
        font-size: 38px;
    }

    .part-child::before {
        width: 25rem;
        height: 17rem;
    }

    .part-Img {
        width: 25rem;
        height: 17rem;
    }

    .news-head {
        width: 27rem;
    }

    .news-heading {
        width: 18rem;
    }

    .newshm-section {
        height: 105rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

    .post-one {
        width: 28rem;
    }

    .post-Img1 {
        width: 28rem;
        height: 12rem;
        margin: 0;
    }

    .post-text {
        width: 22rem;
        height: 21rem;
    }

    .post-comn {
        width: 28rem;
    }

    .post-info {
        width: 13rem;
    }

    .post-reach {
        width: 13rem;
    }

}

/* 425px */
@media screen and (max-width:425px) and (min-width:320px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-first {
        width: 22rem;
    }

    .main-restaurant {
        top: 18rem;
        right: 5rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 24rem;
    }

    .work-section {
        height: 94rem;
    }

    .work-text {
        width: 25rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 92rem;
    }

    .rest-parent {
        height: 84rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .cafes {
        flex-direction: column;
        align-items: baseline;
    }

    .fav-section {
        flex-direction: column;
        height: 74rem;
    }

    .fav-second {
        width: 26rem;
    }

    .fav-img {
        width: 24rem;
        height: 24.8rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 51rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 23rem;
    }

    .cust-img {
        width: 24rem;
        height: 20rem;
    }

    .part-section {
        height: 53rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-heading {
        font-size: 38px;
    }

    .part-child::before {
        width: 20rem;
        height: 13rem;
    }

    .part-Img {
        width: 20rem;
        height: 13rem;
    }

    .news-head {
        width: 23rem;
    }

    .news-heading {
        width: 18rem;
    }

    .newshm-section {
        height: 130rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

    .post-one {
        width: 24rem;
        margin-bottom: 20px;
    }

    .post-Img1 {
        width: 20rem;
        height: 8rem;
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .post-text {
        width: 22rem;
        height: 21rem;
    }

    .post-comn {
        width: 12rem;
        display: block;
        height: 26rem;
    }

    .post-info {
        width: 13rem;
    }

    .post-reach {
        width: 13rem;
    }

}

/* 375px */
@media screen and (max-width:375px) and (min-width:320px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-first {
        width: 22rem;
    }

    .main-restaurant {
        top: 15rem;
        right: 1rem;
    }

    .main-heading {
        font-size: 50px;
    }

    .main-img {
        width: 20rem;
    }

    .work-section {
        height: 94rem;
    }

    .work-text {
        width: 25rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 92rem;
    }

    .rest-parent {
        height: 84rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .cafe-details {
        width: 80%;
    }

    .cafes {
        flex-direction: column;
        align-items: baseline;
    }

    .fav-section {
        flex-direction: column;
        height: 76rem;
    }

    .fav-second {
        width: 20rem;
    }

    .fav-img {
        width: 20rem;
        height: 21rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 51rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 23rem;
    }

    .cust-img {
        width: 20rem;
        height: 18rem;
    }

    .part-section {
        height: 53rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-heading {
        font-size: 38px;
    }

    .part-child::before {
        width: 17rem;
        height: 11rem;
    }

    .part-Img {
        width: 17rem;
        height: 11rem;
    }

    .news-head {
        width: 23rem;
    }

    .news-heading {
        width: 18rem;
    }

    .newshm-section {
        height: 133rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

    .post-one {
        width: 20rem;
        height: 47rem;
        margin-bottom: 20px;
    }

    .post-Img1 {
        width: 17rem;
        height: 7.6rem;
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .post-text {
        width: 17rem;
        height: 21rem;
    }

    .post-comn {
        width: 12rem;
        display: block;
        height: 26rem;
    }

    .post-info {
        width: 13rem;
    }


    .post-credits{
        height: 20rem;
        width: 17rem;
    }

    .post-reach {
        width: 13rem;
    }

}

/* 320px */
@media screen and (max-width:320px) and (min-width:300px) {
    .front-main {
        flex-direction: column;
        height: 63rem;
    }

    .main-first {
        width: 16rem;
    }

    .main-restaurant {
        top: 15rem;
        right: 1rem;
    }

    .main-heading {
        font-size: 40px;
    }

    .main-img {
        width: 20rem;
    }

    #dropdown{
        width: 14rem;
    }

    .work-section {
        height: 94rem;
    }

    .work-text {
        width: 25rem;
    }


    .work-cards {
        flex-wrap: wrap;
    }


    .rest-section {
        height: 92rem;
    }

    .rest-parent {
        height: 84rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rest-text {
        width: 80%;
    }

    .rest-heading{
        font-size: 40px;
    }

    .cafe-details {
        width: 100%;
    }

    .cafe-text{
        width: 15rem;
    }

    .cafe-tags{
        display: none;
    }


    .cafes {
        flex-direction: column;
        align-items: baseline;
    }

    .fav-section {
        flex-direction: column;
        height: 76rem;
    }

    .fav-second {
        width: 20rem;
    }

    .fav-img {
        width: 20rem;
        height: 21rem;
    }

    .serv-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        height: 51rem;
    }

    .serv-text {
        width: 21rem;
        height: 9.5rem;
    }

    .serv-block {
        width: 21rem;
    }

    .cust-section {
        flex-direction: column;
        height: 63rem;
    }

    .cust-first {
        width: 18rem;
        height: 26rem;
    }

    .cust-img {
        width: 20rem;
        height: 18rem;
    }

    .part-section {
        height: 53rem;
    }

    .part-row {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .part-heading {
        font-size: 38px;
    }

    .part-child::before {
        width: 17rem;
        height: 11rem;
    }

    .part-Img {
        width: 17rem;
        height: 11rem;
    }

    .news-head {
        width: 20rem;
    }

    .news-heading {
        width: 18rem;
    }

    .newshm-section {
        height: 133rem;
    }

    .news-row {
        flex-direction: column;
        align-items: center;
    }

    .post-one {
        width: 20rem;
        height: 47rem;
        margin-bottom: 20px;
    }

    .post-Img1 {
        width: 17rem;
        height: 7.6rem;
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .post-text {
        width: 17rem;
        height: 21rem;
    }

    .post-comn {
        width: 12rem;
        display: block;
        height: 26rem;
    }

    .post-info {
        width: 13rem;
    }


    .post-credits{
        height: 20rem;
        width: 17rem;
    }

    .post-reach {
        width: 13rem;
    }

}