.rest-data-section {
    height: 50rem;
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.current-page {
    display: flex;
    width: 43%;
    justify-content: center;
    align-items: center;
}

.data-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.logo-detail {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.rst-img {
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
}

.logo-rate {
    width: 38%;
}

.logo-heading {
    font-size: 44px;
}

.logo-img {
    width: 38%;
    position: relative;
}

.rate-span {
    color: #cfcfcf;
    font-size: 12px;
    margin-top: 20px;
}

.feature-para {
    color: #787878;
}

.sect-img {
    width: 100%;
    transform: rotate(13deg);
    border-radius: 50px;
    box-sizing: border-box;
}

.logo-time {
    position: absolute;
    top: 12rem;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 1em;
    z-index: 1;
    background-color: #fff;
    border-radius: 20px;
}

.logo-lunch {
    position: absolute;
    top: 20rem;
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 20px;
}

.logo-icon {
    background-color: #f29f05;
    color: #fff;
    padding: 10px 10px;
    border-radius: 20px;
}

/* Meals Section */
.meals-section {
    height: auto;
}

.meal-text-parent {
    height: 6rem;
}

.meal-text {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 30px 4px rgba(0, 0, 0, 0.05);

}

.meal-btns {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btns-rest {
    color: #363636;
    background-color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
}

.btns-rest:hover {
    color: #f29f05;
}

.like-meals {
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.meal-icon {
    color: #f29f05;
    font-size: 18px;
}

.meal-para {
    color: #f29f05;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
}

.meals-row {
    display: flex;
    width: 100%;
    height: 90rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.dish {
    width: 25%;
    height: 36rem;
    box-shadow: 0px -1px 30px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.dish-img {
    margin-top: 20px;
    margin-left: 23px;
    width: 85%;
}

.dish-details {
    margin-left: 23px;
}

.dish-heading {
    font-size: 26px;
    font-weight: 900;
}

.dish-tags {
    width: auto;
    height: 2rem;
    border-radius: 5px;
    margin-left: .5rem;
    padding: .3rem .9rem;
    outline: 1px solid #f29f05;
    color: #f29f05;
    font-size: 14px;
    text-decoration: none;
    transition: .4s;
}

.dish-tags:hover {
    background-color: #f29f05;
    color: #fff;
}

.dish-icons {
    color: #f29f05;
    margin-left: 10px;
}

.dish-price {
    display: flex;
    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: center;
}

.price-heading {
    width: 40%;
    font-size: 46px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-increase {
    width: 56%;
}

.dish-btn {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    outline: 1px solid #f29f05;
    background-color: #fff;
    border-radius: 8px;
    font-size: 25px;
    color: #f29f05;
    cursor: pointer;
}

#dish-input {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 9px;
    margin-left: 5px;
    margin-right: 5px;
}

.dish-add {
    display: flex;
    width: 92%;
    justify-content: center;
}

.btn-cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    height: 3.2rem;
    border: none;
    background-color: #f29f05;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.btn-cart:hover {
    background-color: #fff;
    color: #f29f05;
    outline: 2px solid #f29f05;
}

.disabled {
    cursor: not-allowed;
}

.lunch-text {
    display: flex;
    width: 67%;
    justify-content: center;
    align-items: center;
}

.lunch-heading {
    font-size: 46px;
    width: 67%;
}

.lunch-row {
    display: flex;
    width: 100%;
    height: 40rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

/* Media Qureies */
/* 1024px */
@media screen and (max-width:1024px) {
    .logo-lunch {
        width: 70%;
    }

    .meal-text-parent {
        height: 22rem;
    }

    .meal-text {
        justify-content: center;
    }

    .dish {
        flex-basis: 40%;
    }

    .lunch-text {
        height: 37rem;
    }

    .lunch-row {
        height: 83rem;
    }
}

/* 1024px */
@media screen and (max-width:1024px) and (min-width:990px) {
    .logo-lunch {
        width: 70%;
    }

    .meal-text-parent {
        height: 22rem;
    }

    .meal-text {
        justify-content: center;
    }

    .dish {
        flex-basis: 40%;
    }

    .lunch-text {
        height: 37rem;
    }

    .lunch-row {
        height: 83rem;
    }
}

/* 990px */
@media screen and (max-width:990px) and (min-width:320px) {
    .current-page {
        width: 60%;
    }

    .rest-data-section {
        height: 70rem;
    }

    .data-row {
        flex-direction: column;
        align-items: center;
    }

    .logo-rate {
        width: 85%;
        height: 35rem;
    }

    .logo-img {
        width: 49%;
    }

    .logo-lunch {
        width: 70%;
    }

    .meal-text-parent {
        height: 22rem;
    }

    .meal-text {
        justify-content: center;
    }

    .dish {
        flex-basis: 40%;
    }

    .lunch-text {
        height: 37rem;
    }

    .lunch-row {
        height: 83rem;
    }
}

/* 600px */
@media screen and (max-width:600px) and (min-width:320px) {
    .current-page {
        width: 60%;
    }

    .rest-data-section {
        height: 70rem;
    }

    .data-row {
        flex-direction: column;
        align-items: center;
    }

    .logo-rate {
        width: 85%;
        height: 35rem;
    }

    .logo-img {
        width: 70%;
    }

    .logo-lunch {
        width: 70%;
    }

    .meal-text-parent {
        height: 22rem;
    }

    .meal-text {
        justify-content: space-evenly;
    }

    .meals-row{
        height: 223rem;
    }

    .dish {
        flex-basis: 80%;
        height: auto;
    }

    .lunch-text {
        height: 37rem;
    }

    .lunch-row {
        height: 122rem;
    }
}

/* 425px */
@media screen and (max-width:425px) and (min-width:320px) {
    .current-page {
        width: 100%;
    }

    .rest-data-section {
        height: 70rem;
    }

    .data-row {
        flex-direction: column;
        align-items: center;
    }

    .logo-rate {
        width: 100%;
        height: 35rem;
    }

    .logo-img {
        width: 80%;
    }

    .logo-lunch {
        width: 70%;
    }

    .meal-text-parent {
        height: 12rem;
    }

    .meal-text {
        justify-content: center;
        gap: 3rem;
    }

    .like-meals{
        display: none;
    }

    .meals-row{
        height: 223rem;
    }

    .dish {
        flex-basis: 80%;
        height: auto;
    }

    .lunch-text {
        height: 37rem;
    }

    .lunch-row {
        height: 122rem;
    }
}

/* 320px */
@media screen and (max-width:425px) and (min-width:320px) {
    .current-page {
        width: 100%;
    }

    .rest-data-section {
        height: 70rem;
    }

    .data-row {
        flex-direction: column;
        align-items: center;
    }

    .logo-rate {
        width: 100%;
        height: 35rem;
    }

    .logo-heading{
        font-size: 34px;
    }

    .logo-img {
        width: 83%;
    }

    .logo-time{
        width: 69%;
        top: 5rem;
    }

    .logo-lunch {
        width: 92%;
        top: 12rem;
    }

    .meal-text-parent {
        height: 12rem;
    }

    .meal-text {
        justify-content: center;
        gap: 3rem;
    }

    .like-meals{
        display: none;
    }

    .meals-row{
        height: 223rem;
    }

    .dish {
        flex-basis: 80%;
        height: auto;
    }

    .lunch-text {
        height: 37rem;
    }

    .lunch-row {
        height: 122rem;
    }
}