.current-page {
    display: flex;
    width: 43%;
    justify-content: center;
    align-items: center;
}

.data-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.logo-detail{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.rst-img{
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
}

.logo-rate {
    width: 38%;
}

.logo-heading{
    font-size: 44px;
}

.logo-img {
    width: 38%;
    position: relative;
}

.rate-span{
    color: #cfcfcf;
    font-size: 12px;
    margin-top: 20px;
}

.feature-para{
    color: #787878;
}

.sect-img {
    width: 100%;
    transform: rotate(13deg);
    border-radius: 50px;
    box-sizing: border-box;
}

.logo-time {
    position: absolute;
    top: 12rem;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 1em;
    z-index: 1;
    background-color: #fff;
    border-radius: 20px;
}

.logo-lunch {
    position: absolute;
    top: 20rem;
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 20px;
}

.logo-icon{
    background-color: #f29f05;
    color: #fff;
    padding: 10px 10px;
    border-radius: 20px;
}