.sub-form {
    display: flex;
    align-items: center;
    height: 30rem;
    justify-content: space-evenly;
    background-color: #fcfcfc;
}

.sub-Img {
    width: 34rem;
    height: 20rem;
}

.sub-text {
    width: 28rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.3;
    color: #363636;
}

#sub-input {
    width: 15rem;
    height: 3.4rem;
    border: none;
    box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
}

#sub-input::placeholder {
    color: #d7d7d7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-left: 13px;
}

.sub-button {
    width: 8.5rem;
    height: 3.4rem;
    margin-left: 1rem;
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .sub-form {
        flex-direction: column;
        height: 58rem;
    }

    .sub-text {
        width: 40rem;
        align-items: center;
    }

}

@media screen and (max-width:768px) and (min-width:320px) {
    .sub-form {
        flex-direction: column;
        height: 57rem;
    }

    .sub-text {
        width: 30rem;
        /* align-items: center; */
    }

    .sub-heading {
        font-size: 40px;
        height: 12rem;
    }

}

@media screen and (max-width:560px) and (min-width:320px) {
    .sub-form {
        flex-direction: column;
        height: 57rem;
    }

    .sub-text {
        width: 30rem;
        /* align-items: center; */
    }

    .sub-heading {
        font-size: 40px;
        height: 12rem;
    }

    .sub-Img{
        width: 31rem;
    }


}

@media screen and (max-width:490px) and (min-width:320px) {
    .sub-form {
        flex-direction: column;
        height: 57rem;
    }

    .sub-text {
        width: 27rem;
        /* align-items: center; */
    }

    .sub-heading {
        font-size: 40px;
        height: 12rem;
    }

    .sub-Img{
        width: 27rem;
    }


}


@media screen and (max-width:425px) and (min-width:320px) {
    .sub-form {
        flex-direction: column;
        height: 57rem;
    }

    .sub-text {
        width: 23rem;
        /* align-items: center; */
    }

    .sub-heading {
        font-size: 40px;
        height: 17rem;
    }

    .sub-Img{
        width: 24rem;
    }


}


@media screen and (max-width:375px) and (min-width:320px) {
    .sub-form {
        flex-direction: column;
        height: 57rem;
    }

    .sub-text {
        width: 19rem;
        /* align-items: center; */
    }

    .sub-heading {
        font-size: 40px;
        height: 17rem;
    }

    .sub-Img{
        width: 20rem;
        height: 12rem;
    }


}
